@model Website.MVC.Models.UsuarioViewModel

@{
    ViewBag.Title = "Resetar senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{ @Styles.Render("~/Content/Pace") }

@Html.AntiForgeryToken()

<div class="container">
    <nav>
        <ul class="pager">
            <li class="previous"><a href="@Url.Action("Index", "Home")"><span aria-hidden="true"></span>Home</a></li>
        </ul>
    </nav>
    @Html.ValidationSummary(true)
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <a class="close" data-dismiss="alert">×</a>@Html.ValidationSummary()
        </div>
    }
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title text-center"><span class="glyphicon glyphicon-user"></span> Editar senha do Usuário: @Model.NomeUser</h3>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                <div class="col-md-12">
                    <div class="input-group  margin-top-forms">
                        @Html.HiddenFor(m => m.IdUser)
                    </div>
                    <div class="input-group margin-top-forms">
                        <span class="input-group-addon">Senha antiga</span>
                        @Html.PasswordFor(m => m.Senha, new { required = "required", @class = "form-control", pattern = ".{6,20}", title = "A senha deve ter de 6 entre 20 caracteres.", @placeholder = "Senha deve ter no mínimo 6 caracteres." })
                    </div>
                    <div class="input-group margin-top-forms">
                        <span class="input-group-addon">Nova senha</span>
                        @Html.PasswordFor(m => m.NovaSenha, new { required = "required", @class = "form-control", pattern = ".{6,20}", title = "A senha deve ter de 6 entre 20 caracteres.", @placeholder = "Senha deve ter no mínimo 6 caracteres." })
                    </div>
                    <div class="margin-top-forms margin-bottom-forms">
                        <button type="submit" value="Confirmar" class="btn btn-success btn-block"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Confirmar</button>
                        <a href="@Url.Action("Index", "Home")" class="btn btn-danger btn-block">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            Cancelar
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>